<!-- <ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div #map id="map" ></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block (click)="showNearby(true)" >Food</button>
            </ion-col>
            <ion-col>
              <button ion-button block (click)="showNearby(false)" >5 Km</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item *ngFor="let post of postsList" (tap)="showDetailPlace(post.place_id)" >
                  <ion-thumbnail item-left>
                    <img src="{{post.icon}}" />
                  </ion-thumbnail>
                  <p *ngIf="post.checkin && post.checkin.length > 0" ><small>Last Activity </small> <b *ngFor="let orang of post.checkin" >@{{orang}}, </b> </p>
                  <h2>{{post.name}}</h2>
                  <p>{{post.distance}}</p>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
